XTerm*termName: xterm-256color
XTerm*trueColor: true
XTerm*borderWidth: 0

XTerm*faceName: Monospace
XTerm*faceNameBold: Monospace Bold
XTerm*faceSize: 11
XTerm*boldMode: false

XTerm*foreground: #ffffff
XTerm*background: #1d0030
XTerm*cursorColor: #ae27fe
XTerm*cursorUnderline: false
XTerm*highlightSelection: true

XTerm*selectToClipboard: true
XTerm*saveLines: 10000

XTerm.VT100.translations: #override \n\
    Ctrl Shift <Key>V: insert-selection(CLIPBOARD)
